rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticatedAny() {
      return request.auth.uid != null
    }

    function isAuthenticatedAdmin() {
      return isAuthenticatedAny() && request.auth.token.admin != null && request.auth.token.admin == true
    }

    match /admin_users/{userId} {
      allow read, write: if isAuthenticatedAdmin();
    }

    match /aggregations/{document=**} {
      allow read: if true
      allow write: if false
    }

    match /categories/{document=**} {
      allow read: if true
      allow write: if false
    }

    match /configuration/{document=**} {
      allow read: if true
      allow write: if false
    }

    match /countries/{document=**} {
      allow read: if true
      allow write: if false
    }

    match /flash_sales/{document=**} {
      allow read: if true
      allow write: if isAuthenticatedAdmin()
    }

    match /mail/{document=**} {
      allow read, write: if false
    }

    match /management_mails/{document=**} {
      allow read, write: if false
    }

    match /order_types/{document=**} {
      allow read: if true
      allow write: if false
    }

    match /orders/{orderId} {
      allow read: if isAuthenticatedAny() && request.auth.uid == resource.data.customer.uid || isAuthenticatedAdmin();
      allow write: if isAuthenticatedAdmin() &&
      (/databases/$(database)/documents/admin_users/$(request.auth.uid) == resource.data.preparing_admin_ref ||
      request.resource.data.diff(resource.data).affectedKeys().hasOnly(['preparing_admin_ref']))
    }

    match /promo_codes/{document=**} {
      allow read: if isAuthenticatedAny()
      allow write: if isAuthenticatedAdmin()
    }

    match /units/{document=**} {
      allow read: if true
      allow write: if false
    }

    match /version_constraints/{documentId} {
      allow read: if true;
      allow write: if false;
    }

    match /users/{userId} {
      allow read, write: if (isAuthenticatedAny() && request.auth.uid == userId) || isAuthenticatedAdmin();
      match /wishlist/{document=**} {
        allow read, write: if (isAuthenticatedAny() && request.auth.uid == userId) || isAuthenticatedAdmin();
      }
      match /devices/{document=**} {
        allow read, write: if (isAuthenticatedAny() && request.auth.uid == userId) || isAuthenticatedAdmin();
      }
      match /cart/{cartId} {
        allow read: if (isAuthenticatedAny() && request.auth.uid == userId) || isAuthenticatedAdmin();
        allow write: if false;
        match /items/{document=**} {
          allow read, write: if (isAuthenticatedAny() && request.auth.uid == userId) || isAuthenticatedAdmin();
        }
      }
    }

    match /warehouse/{productId} {
      allow read: if true;
      allow write: if isAuthenticatedAdmin();
    }
  }
}
