{
  "APPLE_SIGNIN_CLIENT_ID": "sk.bottleshop3veze.applesignin",
  "APPLE_PAY_MID": "merchant.sk.bottleshop3veze.bottleshopdeliveryapp",
  "TCS_PDF_URL": "https://firebasestorage.googleapis.com/v0/b/bottleshop3veze-delivery.appspot.com/o/assets%2Fpdf%2F",
  "APPLE_SIGN_IN_REDIRECT":"https://bottleshop3veze-delivery.firebaseapp.com/__/auth/handler",
  "STRIPE_PUBLISHABLE_KEY": "pk_test_Gnq83EyihTQEkX5vR7Mlf3Ec00jzaAL91B"
}
